<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>La liste arrivera bientôt, click sur le lien pour en créer un nouveau </h1>
    <<a href="gossips">click ici</a>
  </body>
</html>
